
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  nav{
      display: flex;
      justify-content: space-around;
     align-items: center;
      min-height: 10vh;
      width: 100%;
      background-color: #5d4954;
      font-family: 'Poppins', sans-serif;
      top: 0%;

      position: absolute;
  position: sticky;
  }
  .logo{
      color: rgb(226, 226, 226);
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 20px;
  }
  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 30%;
      
  }
  .nav-links li{
      list-style: none;
  }
  .nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

  }
  .burger{
    display:none;
    cursor: pointer;
}
  
  .burger div{
      
      height: 3px;
      width: 25px;
      background-color: rgb(226, 226, 226) ;
     
      margin: 5px;
  }
  @media screen and(max-width:1024px){
    .nav-links{
        width: 60%;
        cursor: pointer;
    }

}

  @media screen and(max-width:760px){
      
          body{
              overflow-x: hidden;

          }
      
      .nav-links{
          position: absolute;
          right: 0px;
          height: 92vh;
          top: 8vh;
          background-color: #5d4954;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 50%;
          transform: translateX(100%);
          transition:transform 0.5s ease-in;

      }
     .nav-links li{
         opacity: 0;
     } 
     .burger{
         display: block;
     }
     .nav-active{
         transform: translateX(0%);
     }

  }
  .header {
    margin: 0;
    
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
      

  }
  .pnrBtn {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-decoration: none;
    font-family: helvetica;
    color: black;
    background: rgba(243, 237, 237, 0.171);
    border-radius: 100px;
    padding: 25px;
    position: relative;
   
  }
  
  .pnrBtn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
  }
  .trainBtn {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-decoration: none;
    font-family: helvetica;
    color: black;
    background: rgba(255, 255, 255, 0.171);
    border-radius: 100px;
    margin-top: 60px;
    padding: 25px;
    position: relative;
   
  }
  
  .trainBtn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
  }
  .seatBtn {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-decoration: none;
    font-family: helvetica;
    color: black;
    background: rgba(255, 255, 255, 0.171);
    border-radius: 100px;
    margin-top: 60px;
    padding: 25px;
    position: relative;
    
  }
  
  .seatBtn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
  }
  .fareBtn {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-decoration: none;
    font-family: helvetica;
    color: black;
    background: rgba(255, 255, 255, 0.171);
    border-radius: 100px;
    margin-top: 60px;
    padding: 25px;
    position: relative;
    -
  }
  
  .fareBtn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
  }
  .stationBtn {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-decoration: none;
    font-family: helvetica;
    color: black;
    background: rgba(255, 255, 255, 0.171);
    border-radius: 100px;
    margin-top: 60px;
    padding: 25px;
    position: relative;
    
  }
  
  .stationBtn:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
            box-shadow: 0 15px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: all .45s ease-out;
    transition: all .45s ease-out;
  }
  h1{
        display: flex;
        align-items: center;
        justify-content: center;
       font-size: 40px;
       font-family: 'Oswald', sans-serif;
       -webkit-animation-name: moveToLeft;
       animation-name: moveToLeft;
-webkit-animation-duration: 3s;
       animation-duration: 3s;
}
    
    h2{
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'PT Serif', serif;
         font-size: 30px;
         -webkit-animation-name: moveToRight;
          animation-name: moveToRight;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  
    }
    @-webkit-keyframes moveToLeft {
        0% {
          opacity: 0;
          -webkit-transform: translateX(200px);
                  transform: translateX(200px);
        }
        80% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
        }
        100% {
          opacity: 1;
          -webkit-transform: translateX(0px);
                  transform: translateX(0px);
        }
      }
      
      @keyframes moveToLeft {
        0% {
          opacity: 0;
          -webkit-transform: translateX(200px);
                  transform: translateX(200px);
        }
        80% {
          -webkit-transform: translateX(-100px);
                  transform: translateX(-100px);
        }
        100% {
          opacity: 1;
          -webkit-transform: translateX(0px);
                  transform: translateX(0px);
        }
      }

      @-webkit-keyframes moveToRight {
        0% {
          opacity: 0;
          -webkit-transform: translateX(-200px);
                  transform: translateX(-200px);
        }
        80% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
        }
        100% {
          opacity: 1;
          -webkit-transform: translateX(0px);
                  transform: translateX(0px);
        }
      }
      
      @keyframes moveToRight {
        0% {
          opacity: 0;
          -webkit-transform: translateX(-200px);
                  transform: translateX(-200px);
        }
        80% {
          -webkit-transform: translateX(100px);
                  transform: translateX(100px);
        }
        100% {
          opacity: 1;
          -webkit-transform: translateX(0px);
                  transform: translateX(0px);
        }
      }


      .fab-container{
        position: fixed;
        bottom: 50px;
        right: 50px;
        z-index: 999;
        cursor: pointer;
      }
      .fab-icon-holder{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #016fb9;
        box-shadow: 0 6px 20px rgba(0,0,0,0.2);

      }
      .fab-icon-holder:hover{
        opacity: 0.8;
      }
      .fab-icon-holder i{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-style: 25px;
        color: #ffffff;
      }

      .fav{
        width: 60px;
        height: 60px;
        background: #5d4954;
      }

      .fab-options{
        list-style-type: none;
        margin: 0;
        position: absolute;
        bottom: 70px;
        right: 0;
        opacity: 0;

      }

      .fav:hover + .fab-options, .fab-options:hover{
        opacity: 1;
      }

      .fab-options li{
        display: flex;
        justify-content: flex-end;
        padding: 5px;
      }
      .fab-lable{
        padding: 2px 5px;
        align-self: center;
        user-select: none;
        white-space: nowrap;
        border-radius: 3px;
        font-size: 16px;
        background: #666666;
        color: #ffffff;
        box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        margin-right: 10px;
      }


  